.flgs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 50px);
    background-color: #f6f5f7;
    padding: 20px;
    margin-left: 250px; /* Adding space for the left sidebar */
    box-sizing: border-box;
    overflow-y: auto;
    width: calc(100% - 250px); /* Occupy remaining width */
}

.flgsWrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.form-select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-select:hover,
.form-select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 91, 187, 0.2);
}

.flgsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flagListing {
    font-size: 24px;
    font-weight: 600;
}

.addFlagBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addFlagBtn:hover {
    background-color: #0056b3;
}

.flgsBottom {
    display: flex;
    flex-direction: column;
}

.flgsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flagListItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.flagListItem:hover {
    background-color: #f0f0f0;
}

.flagListItem div {
    padding: 5px 0;
}

.flagName {
    font-size: 18px;
    font-weight: 500;
}

.flagVisibility {
    font-size: 16px;
    font-weight: 500;
}

.flagListingActionTab {
    color: purple;
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.flagListItemRight {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.flagListItemRight .MuiSvgIcon-root {
    cursor: pointer;
    transition: transform 0.3s;
}

.flagListItemRight .MuiSvgIcon-root:hover {
    transform: scale(1.2);
}

.associatedPackages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
}

.associatedPackageItem {
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

